.edit{
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  width: 100%;
  background-color:  rgba(102, 51, 153, 0.6);
  border-bottom-left-radius:20px ;
  border-bottom-right-radius: 20px;  
  margin: 0 auto;
}

.edit .item{
  color: pink;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 10px;
  border-bottom: 1px solid pink;
}

.edit .item input{
  background-color: pink;
  color: rebeccapurple;
  border: none;
  outline: none;
  border-radius: 5px;
}

.neon{
animation: neon 4s infinite;
padding: 10px;
}

@keyframes neon{
   0%, 38%, 40%, 59%, 61%, 81%, 83%, 100%{
    text-shadow: 
    white 0 0 12px,
    white 0 0 24px,
    white 0 0 36px;
  }
    39%, 82% {
    text-shadow: none;
  }
}